h1 {
    text-align: center;
    color: aliceblue;
}
p {
    margin-left: 70px;
    color: aliceblue;
}
h2 {
    margin-left: 50px;
    color: aliceblue;
}
.box {
    border: 3px solid;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 30px;
    border-color:aliceblue;
    
}
.nan {
    text-align: center;
    margin-left: 0px;
    color: aliceblue;
}
body {
    background-color: rgb(18, 17, 17);
}
a {
    color: aliceblue;
}
a:hover {
    color: aqua;
}
.pot {
    font-size:300%;
}
